<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>
  <!-- JavaScript -->
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/flowbite@1.3.3/dist/flowbite.js"></script>
  <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"
          integrity="sha384-mZLF4UVrpi/QTWPA7BjNPEnkIfRFn4ZEO3Qt/HFklTJBj/gBOV8G3HcKn4NfQblz"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.44.0/apexcharts.min.js"
          integrity="sha512-9ktqS1nS/L6/PPv4S4FdD2+guYGmKF+5DzxRKYkS/fV5gR0tXoDaLqqQ6V93NlTj6ITsanjwVWZ3xe6YkObIQQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://preline.co/assets/js/hs-apexcharts-helpers.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/preline@2.0.2/dist/preline.min.js"></script>
  <!-- JS Global -->
  <script>
    const sleep = (delay) => new Promise((resolve) => setTimeout(resolve, delay));

    const dataPath = '/static/DATA/stock_list.json'

    const socketBase = io('http://' + document.domain + ':' + location.port + '/');

    // Base socket debug
    socketBase.on("connect", () => {
      console.log('Client connected:' + socketBase.id); // some id for debug
    });

    // Base socket debug
    socketBase.on("disconnect", () => {
      console.log('Client disconnected:' + socketBase.id); // undefined
    });
  </script>

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.44.0/apexcharts.min.css"
        integrity="sha512-nnNXPeQKvNOEUd+TrFbofWwHT0ezcZiFU5E/Lv2+JlZCQwQ/ACM33FxPoQ6ZEFNnERrTho8lF0MCEH9DBZ/wWw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>

<body>
<!-- Header -->
<header>
  {% block header %}{% endblock %}
</header>

<div class="pt-[5.75rem]"/>

<!-- Main Content -->
<main>
  <div class="bg-gray-50 pt-[1.5rem] p-[1rem] min-h-[90vh] overflow-hidden">
    <div class="mx-auto max-w-[80vw]">
      {% block content %}{% endblock %}

    </div>
  </div>
</main>

<!-- Footer -->

<hr>
<footer class="bg-gray-50 p-2 md:p-6 lg:pb-8 dark:bg-gray-800">
  <div class="mx-auto max-w-screen-xl text-center">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="#" class="hover:underline">Demo™</a>. All Rights Reserved.</span>
  </div>
</footer>


<!-- Custom JavaScript here -->
<script src="/static/scripts/script.js"></script>

</body>

</html>